@import "../abstract/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 1rem 40rem 0 40rem;
    background-color: $color-white ;
}

@media (max-width: 600px) {
    body {
        margin: 1rem 2rem 0 2rem;
    }
}