.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }



    &__list {
        display: flex;
        padding: 1rem;
        font-size: 2.5rem;

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }

        & li:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &____item-link {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
            width: 10rem;
        }

        & img:hover {
            transform: scale(1.1);
        }

        & span {
            font-size: 3rem;
        }

        & span:hover {
            text-underline-offset: .5rem;
            text-decoration: underline;
        }
    }

}